h1 {
   text-align:center;
   color:blue;
   font-size:50px;
   font-family:century gothic;
   background:skyblue;
}

p  {
   text-align:center;
   color:red;
   font-size:25px;
   font-family:century gothic;
}

css1  {
   text-align:center;
}